html {
	overflow: hidden;
}
html, body, .wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
}

htm, body, div {
	box-sizing: border-box;
}

.wrapper, .menu, .world {
	display: inline-block;
}

.menu {
	background: #DDDDDD;
	width: 500px;
	height: 100%;
	float: left;
}

.world {
	width: calc(100% - 500px);
	height: 100%;
}

.menu-tabs {
	height: 300px;	
}

.tab {
	width: 100%;
	padding: 20px;
}

.pieces-canvas {
	width: 100%;
	height: calc(100% - 300px);
	background: #F0F0F0;
	padding: 10px 0 0 5px;
	overflow: auto;
}

.pieces-tree {
	width: 100%;
	height: 100%;
}

.piece {
	display: inline-block;
	white-space: nowrap;
}

.piece > img {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

.menu-tabs a, .property > * {
	font: bold 12px "Arial";	
}

.property .input[type="text"] {
	font-size: 12px;
}

	.property .label {
	display: inline-block;
	width: 100px;
}

.piece > .txt {
	font: bold 15px "Arial";	
	padding: 0 20px 0 5px;
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	cursor: default;
}

.template {
	margin-bottom: 10px;
	margin-right: 10px;
}

.piece.selected > .txt {
	background: #A04B96;	
}

.selected.selected + .object-node {
	border-left-color: #A04B96;
}

.piece < .selected){
	background: red !important;	
}
.connector {
	margin-top: 5px;
	position: relative;
}

.connector > .piece {
	position: absolute;
	top: 0;
	left: 0;
}

.busy {
	width: 100%;
}

.cross.connector > img {
	content: url(../imgs/cross.png);
	background: url(../imgs/cross.png);	
}

.camera.resting > img {
	content: url(../imgs/cross-socket.png);
	background: url(../imgs/cross-socket.png);
}

.camera.resting:hover > img{
	content: url(../imgs/cross-socket-hover.png);
	background: url(../imgs/cross-socket-hover.png);
}

.camera.resting > .txt {
	background: #E67D32;
}

.camera.resting:hover > .txt {
	background: #FAB478;
}

.camera.selected > img {
	content: url(../imgs/cross-socket-selected.png);
	background: url(../imgs/cross-socket-selected.png);
}

.arrow.connector > img {
	content: url(../imgs/arrow.png);
	background: url(../imgs/arrow.png);	
}

.object.resting > img {
	content: url(../imgs/arrow-socket.png);
	background: url(../imgs/arrow-socket.png);
}

.object.resting:hover > img {
	content: url(../imgs/arrow-socket-hover.png);
	background: url(../imgs/arrow-socket-hover.png);
}

.object.resting > .txt {
	background: #5AC85A;
}

.object.resting:hover > .txt {
	background: #78F078;
}

.object-node {
	border-left: 20px solid;
	padding-left: 2px;
}

.dragged + .object-node {
	display:none;
	background: red;
}

.object.resting + .object-node {
	border-left-color: #5AC85A;
}

.object.resting:hover + .object-node {
	border-left-color: #78F078;
}

.object.selected > img {
	content: url(../imgs/arrow-socket-selected.png);
	background: url(../imgs/arrow-socket-selected.png);
}
	
.component.resting > .txt {
	background: #006EFF;
}

.square.connector > img {
	content: url(../imgs/square.png);
	background: url(../imgs/square.png);
}

.component.resting:hover > .txt {
	background: #32A0FF;
}
	
.component.resting > img {
	content: url(../imgs/square-socket.png);
	background: url(../imgs/square-socket.png);
}

.component.resting:hover > img {
	content: url(../imgs/square-socket-hover.png);
	background: url(../imgs/square-socket-hover.png);
}

.component.selected > img {
	content: url(../imgs/square-socket-selected.png);
	background: url(../imgs/square-socket-selected.png);
}

.diamond > img {	
	content: url(../imgs/diamond.png);
	background: url(../imgs/diamond.png);
}

.transform.resting > .txt {
	background: #FA0000;
}

.transform.resting:hover > .txt {
	background: #FF3C3C;
}

.transform.resting > img {
	content: url(../imgs/diamond-socket.png);
	background: url(../imgs/diamond-socket.png);
}

.transform.resting:hover > img {
	content: url(../imgs/diamond-socket-hover.png);
	background: url(../imgs/diamond-socket-hover.png);
}

.transform.selected > img {
	content: url(../imgs/diamond-socket-selected.png);
	background: url(../imgs/diamond-socket-selected.png);
}

.light.resting > .txt {
	background: #E6E619;
}

.light.resting:hover > .txt{
	background: #FAFA96;
}

.light.resting > img {
	content: url(../imgs/light-arrow-socket.png);
	background: url(../imgs/light-arrow-socket.png);
}

.light.resting:hover > img {
	content: url(../imgs/light-arrow-socket-hover.png);
	background: url(../imgs/light-arrow-socket-hover.png);
}

.light.selected > img {
	content: url(../imgs/light-arrow-socket-selected.png);
	background: url(../imgs/light-arrow-socket-selected.png);
}

.renderer > .txt{
	padding-left: 30px;
}

.renderer.resting > .txt {
	background: #BBBBBB;
}

.renderer.resting:hover > .txt {
	background: #DDDDDD;
}

.renderer + .object-node {
	width: 100%;
}

.renderer.resting + .object-node {
	border-left-color: #BBBBBB;
}

.renderer.resting:hover + .object-node {
	border-left-color: #DDDDDD;
}