.ui-inputfield.ui-state-error, .ui-widget-header .ui-inputfield.ui-state-error, .ui-widget-content .ui-inputfield.ui-state-error {
	color: #333333;
	border: 1.5px solid #F5A9A9;
}

.mandatory-label:after{
	content: " *";
	color: red;
	font-weight: bold; 	
}

.image-button {
	border: 1px solid #888; 
	box-shadow: 2px 2px 2px #888;
}

.panel-editor-actions {
	text-align: center;
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.game-console{
	opacity: 1;
	overflow-y: scroll;
}

.canvas-game-editor {
	border: 1px solid #a8a8a8; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	background-color: white;
}

.btn-play {
	width: 50px; 
	height: 40px; 
	background-image: url(../imgs/play-icon.png); 
	background-repeat: no-repeat;
	background-position: center center;
}

.btn-stop {
	width: 50px; 
	height: 40px; 
	background-image: url(../imgs/stop-icon.png); 
	background-repeat: no-repeat;
	background-position: center center;
}

.btn-pause {
	width: 50px; 
	height: 40px; 
	background-image: url(../imgs/pause-icon.png); 
	background-repeat: no-repeat;
	background-position: center center;
}

.btn-edit {
	width: 40px; 
	height: 40px; 
	background-image: url(../imgs/edit-icon.png); 
	background-repeat: no-repeat;
	background-position: center center;
}

.header-text {
	text-decoration: none; 
	font-weight: 400; 
	color: #4f4f4f; 
	font-size: 1em; 
	font-family: Arial,sans-serif;	
}

.content-wrap{
	position: absolute;
	width: 1000px;
	height: 600px;
	margin-left: -500px;
	margin-top: -330px;
	left: 50%;
	top: 50%;
}

#mycursor {
	position: fixed;
	display : none;
	width : 40px;
	height : 40px;
	background-color : blue;
}
 
#mycursor.pushed {
	background-color: red;
}

#mycursor.clicked {
	background-color: yellow;
}
