drone/AutoFlight/AutoFlight.xcodeproj/xcuserdata
drone/AutoFlight/AutoFlight.xcodeproj/project.xcworkspace/xcuserdata
drone/AutoFlight/AutoFlight.xcodeproj/project.xcworkspace/xcshareddata
editor/.metadata/
editor/RemoteSystemsTempFiles/
