drone/AutoFlight/AutoFlight.xcodeproj/xcuserdata
drone/AutoFlight/AutoFlight.xcodeproj/project.xcworkspace/xcuserdata
drone/AutoFlight/AutoFlight.xcodeproj/project.xcworkspace/xcshareddata
editor/.metadata/
editor/RemoteSystemsTempFiles/
engine/.metadata/.lock
engine/.metadata/.mylyn/repositories.xml.zip
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/html5-2d-game-editor/.indexes/properties.index
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/html5-2d-game-editor/.location
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/html5-2d-game-editor/.markers
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/html5-2d-game-editor/org.eclipse.egit.core/GitProjectData.properties
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/html5-2d-game-editor/org.eclipse.jdt.core/state.dat
engine/.metadata/.plugins/org.eclipse.core.resources/.projects/html5-2d-game-editor/org.eclipse.wst.jsdt.core/state.dat
engine/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
engine/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
engine/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
engine/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
engine/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
engine/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
engine/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
engine/.metadata/.plugins/org.eclipse.jdt.core/1153185784.index
engine/.metadata/.plugins/org.eclipse.jdt.core/1431365861.index
engine/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
engine/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
engine/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
engine/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
engine/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
engine/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
engine/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
engine/.metadata/.plugins/org.eclipse.jdt.core/participantsIndexNames.txt
engine/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
engine/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
engine/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
engine/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
engine/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
engine/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
engine/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
engine/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
engine/.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
engine/.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/1673405896.index
engine/.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/1153185784.dat
engine/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
engine/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
engine/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.junior-pc2_1014/FP.local.files_0/node.properties
engine/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.junior-pc2_1014/H.local_16/node.properties
engine/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.junior-pc2_1014/node.properties
engine/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
engine/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1153185784.index
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2339835669.index
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2505504337.index
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2942223556.index
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3888973034.index
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3902716006.index
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
engine/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
engine/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
engine/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
engine/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
engine/.metadata/.plugins/org.eclipse.wst.validation/dep.index
engine/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
engine/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
engine/.metadata/version.ini
engine/RemoteSystemsTempFiles/.project
