/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/10/2014, 20:54:26
    Author     : Gabriel Zanluca
*/
.estiloPrincipal {
	position: absolute;
	height: 610px;
	width: 1506px;
	top: 59px;
	margin-left: 5px;
}

.estiloDivPosicoes {
	position: relative;
	top: 610px;
	margin-left: 10px;
}

.l {
	width: 120px;
}

.lObject {
	margin-left: 10px !important;
}

.marge {
	margin-bottom: 10px;
}

.p {
	width: 65px !important;
	height: 30px !important;
	margin-right: 5px;
	border-radius: 10px !important;
	text-align: center;
}

.bol {
	width: 20px !important;
	height: 20px !important;
	float: inherit !important;
}

.inputText-m {
	width: 70px !important;
	height: 30px !important;
	float: inherit !important;
	margin-left: 4px;
	border-radius: 10px !important;
}

.inputText {
	width: 170px !important;
	height: 30px !important;
	float: inherit !important;
	margin-left: 4px;
	border-radius: 10px !important;
}

.lNBalls {
	width: 265px;
}

.menuInferior {
	background-color: #f8f8f8;
	border-radius: 5px;
	border-style: solid;
	border-color: grey;
	padding: 5px;
	text-align: -webkit-center;
}

/*
ul li a{
	display: block;
}

ul li ul{
	display: 
}

ul li:hover ul{
	display: block;
}
*/
.espcaoMenu {
	margin-right: 40px;
}

.estiloDivRender {
	position: fixed;
	bottom: 100px; //
	top: 200px; //
	left: 615px; //
	right: 300px;
	width: 1169px;
	height: 610px; //
	position: absolute;
	top: 60px;
	left: 152px; //
	margin-left: 10px; //
	margin-right: 10px; //
	background-color: #f8f8f8; //
	border-radius: 5px; //
	border-style: solid; //
	border-color: grey;
}

.estiloDivRenderUsuario {
	position: fixed;
	bottom: 100px; //
	top: 200px; //
	left: 615px; //
	right: 300px;
	width: 1169px;
	height: 610px; //
	position: absolute;
	top: 60px;
	left: 4px; //
	margin-left: 10px; //
	margin-right: 10px; //
	background-color: #f8f8f8; //
	border-radius: 5px; //
	border-style: solid; //
	border-color: grey;
}

.estiloDivExplicacao { //
	margin-left: 5px;
	width: 340px;
	height: 610px;
	left: 1180px;
	top: 60px;
	text-align: justify; //
	vertical-align: top;
	position: fixed;
	max-height: 610px; //
	overflow-y: auto;
	background-color: #f8f8f8;
	border-radius: 5px;
	border-style: solid;
	border-color: grey; //
	top: -610px;
}

canvas {
	position: fixed; //
	left: 152px;
	padding: 0px;
	height: 610px;
	width: 1169px;
	margin-top: 0px; //
	margin: 0px;
	background-color: #f8f8f8;
	border-radius: 5px;
	border-style: solid;
	border-color: grey;
}

.estiloDivObjetos {
	margin-right: 5px;
	width: 142px;
	height: 610px; //
	vertical-align: top;
	position: absolute;
	max-height: 610px;
	overflow-y: auto;
	background-color: #f8f8f8;
	border-radius: 5px; //
	border-bottom-width: 20px;
	border-style: solid;
	border-color: grey; //
	text-align: center;
}

.estiloConteudoObjetos {
	padding:
}

.estiloDivPropriedades {
	margin-left: 5px;
	width: 200px;
	height: 100%;
	left: 1317px; //
	text-align: center; //
	vertical-align: top;
	position: absolute;
	max-height: 610px; //
	overflow-y: auto;
	background-color: #f8f8f8; //
	top: -610px;
}

.propriedadesConteudo {
	padding: 10px;
}

.labelTitulo {
	font-size: 18px;
}

.labelTitulo-s {
	font-size: 15px;
}

.listaPropriedades {
	text-align: justify;
	float: right;
}

.divPropriedadesCena {
	height: 55%;
	background-color: lightgray;
	border-radius: 5px;
	border-style: solid;
	border-color: grey;
}

.divPropriedadesObjeto {
	height: 45%;
	border-radius: 5px;
	border-style: solid;
	border-color: grey;
}

.div_objeto {
	height: 30px;
	max-height: 40px;
	width: 100px;
	max-width: 239px;
	font-size: 15px;
	margin-left: 5px;
	margin-bottom: 2px;
	display: inline-table; //
	border-right-width: 0px;
	border-style: solid;
	border-radius: 2px;
	border-color: lightslategray;
	background-color: #f8f8f8;
	padding: 2px; //
	color: red; //
	text-align: justify;
}

.div_objeto2 {
	margin-top: 10px;
}

.div_Posicao {
	position: absolute;
	margin-top: 20px;
	top: 641px;
}

.div_posciaCamera {
	position: absolute;
	top: 641px;
	margin-left: 710px; //
	left: 850px;
	margin-top: 20px;
}

.div_CameraX {
	position: absolute;
	top: 10px; //
	margin-right: 305px;
}

.div_CameraY {
	position: absolute;
	top: 10px;
	margin-left: 175px; //
	left: 175px;
}

.div_CameraZ {
	position: absolute;
	top: 10px;
	margin-left: 350px;
}

.div_BotaoCamera {
	position: absolute;
	top: 45px;
	margin-left: 525px;
}

.div_Pontos {
	position: fixed;
	text-align-last: center;
	text-align: center;
	width: 100px;
	right: 95px;
	top: 60px;
	border-style: solid;
	border-color: #444;
	border-radius: 5px;
}

.estiloDivAjuda {
	position: absolute;
	top: 0px;
	right: 75px;
}

#Arquivo {
	position: absolute;
	top: 0px;
	left: 100px;
	height: 500px;
}

#criaObjetos {
	position: absolute;
	top: 0px;
	left: 185px; //
	height: 500px;
}

#botoes {
	position: absolute;
	top: 0px;
	left: 320px; //
	height: 500px;
}

.estiloPlayPause {
	position: relative;
	left: 10px;
	bottom: -615px;
}

#logo_webgl {
	border: 0px;
	margin-top: 15px;
	margin-bottom: 0px; //
	margin-right: 5px;
	margin-left: 5px;
	float: right;
	height: 100px;
}

.imgTutorial{
	height: 38px !important;;
}

#texto_explicacao {
	left: 1180px;
	top: 60px;
	text-align: justify;
	max-height: 610px;
	margin-left: 5px;
	margin-right: 5px;
}

#paginacao {
	position: absolute;
	bottom: -1px;
	margin-left: 5px;
	margin-right: 5px;
}

.pos {
	width: 60px; //
	float: left;
	height: 25px;
}

.listaDeObjetos {
	position: absolute;
	margin-top: 1px;
	width: 200px;
	max-width: 200px;
	height: 340px;
	max-height: 340px;
	line-stacking: block-line-height; // acrescenta o scroll : overflow-y :
	 auto;
	border-style: solid;
	border-color: #444;
	border-radius: 5px;
}

.div_listaDeObjetos {
	margin: 5px;
}

.nome_Objeto {
	float: left;
	width: 60px;
}

.obeject_Name {
	float: left;
	width: 50px;
	font-weight: bold;
	max-width: 50px;
	cursor: pointer;
}

.div_Delete {
	width: 30px;
	height: 10px;
	float: right;
	cursor: pointer;
}

.checkbox_Objeto {
	float: left;
	width: 100px;
}

.divSelect {
	height: 30px;
	max-height: 40px;
	width: 100px;
	max-width: 239px;
	font-size: 15px;
	color: #f3f3f3;
	margin-left: 5px;
	margin-bottom: 2px;
	display: inline-table;
	border-style: solid;
	border-radius: 2px;
	border-color: lightsteelblue;
	background-color: #444;
	padding: 2px;
}

.buttonAction {
	cursor: pointer;
	font-size: 15px;
	color: #1c94c4;
	border-style: solid;
	padding: 2px;
}

.buttonActionSelect {
	cursor: pointer;
	font-size: 15px;
	background-color: yellow;
}

#imageMenuArquivoSalvar{
	width: 170px;
}

#imageSalvarComo{
	width: 500px;
}

#imageMenuMudaPosicaoObj{
	width: 470px;
}

#imageMenuMudaPosicaoCam{
	width: 470px;
}

.DescricaoExemplos {
	position: absolute; //
	margin-top: 1px;
	width: 300px; //
	max-width: 200px;
	height: 300px;
	max-height: 300px;
	line-stacking: block-line-height; // acrescenta o scroll : overflow-y :
	 auto;
	border-style: solid;
	border-color: #444;
	border-radius: 5px;
}